index.jade
<DOCTYPE html>
html(lang="es")
	head
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(charset="es")
		link(rel="stylesheet", href="css/grid.css")
		link(rel="stylesheet", href="css/materialize.css")
		link(rel="stylesheet", href="css/style.css")
		title Iglesia Del Dios Vivo
		link(rel="icon", href="http://www.lorempixel.com/120/120")
		link(rel="stylesheet", href="css/font-awesome.min.css")
	body
		header
			.menu-responsive
				ul
					li: a(href="#") IDVP
					li.icono: a(href="#") Icono
			nav
				ul
					li: a.iglesia(href="#") Iglesia Del Dios Vivo Pasco
					li.ri: a(href="#") Inicio
					li.ri: a(href="#") Pastores
					li.ri: a(href="#") Fiestas
					li.ri: a(href="#") Contatanos
			.slider
				ul
					li 
						img(src="img/cruz1.jpg")
						.title1
							h1 Lorem ipsum dolor.
						.text1
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis asperiores doloremque nobis.
						.btn1
							button Saber Mas
					li: img(src="img/tren.jpg")
					li: img(src="img/paisaje.jpg")
					li: img(src="img/peru.jpg")
		section
			article
				h1 Iglesia Del Dios Vivo De Pasco
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur architecto, facere nam quis similique a sunt dolorem temporibus consequatur voluptatum aspernatur totam numquam itaque hic voluptas officia? Voluptate sunt, officiis.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, nemo. Saepe molestias autem blanditiis inventore voluptatem ut velit neque ipsam, quam, dicta impedit, omnis placeat beatae? Vel facilis cumque, vitae.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ratione iste soluta id rerum non? Quod eligendi, rerum, reprehenderit eveniet, at impedit nobis quo, odit animi dolorem ratione tenetur odio.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.
		footer
			.redesSociales
				i(class="fa fa-exchange", aria-hidden="true")
			.preguntasFrecuentes
			.miembrosFrecuentes
		script(src="js/main.js")

index.html
<DOCTYPE html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta charset="es"/>
    <link rel="stylesheet" href="css/grid.css"/>
    <link rel="stylesheet" href="css/materialize.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>Iglesia Del Dios Vivo</title>
    <link rel="icon" href="http://www.lorempixel.com/120/120"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
  </head>
  <body>
    <header>
      <div class="menu-responsive">
        <ul>
          <li><a href="#">IDVP</a></li>
          <li class="icono"><a href="#">Icono</a></li>
        </ul>
      </div>
      <nav>
        <ul>
          <li><a class="iglesia" href="#">Iglesia Del Dios Vivo Pasco</a></li>
          <li class="ri"><a href="#">Inicio</a></li>
          <li class="ri"><a href="#">Pastores</a></li>
          <li class="ri"><a href="#">Fiestas</a></li>
          <li class="ri"><a href="#">Contatanos</a></li>
        </ul>
      </nav>
      <div class="slider">
        <ul>
          <li> <img src="img/cruz1.jpg"/>
            <div class="title1">
              <h1>Lorem ipsum dolor.</h1>
            </div>
            <div class="text1">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis asperiores doloremque nobis.</p>
            </div>
            <div class="btn1">
              <button>Saber Mas</button>
            </div>
          </li>
          <li><img src="img/tren.jpg"/></li>
          <li><img src="img/paisaje.jpg"/></li>
          <li><img src="img/peru.jpg"/></li>
        </ul>
      </div>
    </header>
    <section>
      <article>
        <h1>Iglesia Del Dios Vivo De Pasco</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur architecto, facere nam quis similique a sunt dolorem temporibus consequatur voluptatum aspernatur totam numquam itaque hic voluptas officia? Voluptate sunt, officiis.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, nemo. Saepe molestias autem blanditiis inventore voluptatem ut velit neque ipsam, quam, dicta impedit, omnis placeat beatae? Vel facilis cumque, vitae.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ratione iste soluta id rerum non? Quod eligendi, rerum, reprehenderit eveniet, at impedit nobis quo, odit animi dolorem ratione tenetur odio.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.</p>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, placeat, minus. Veritatis veniam, iusto debitis eos aperiam dicta. Rem dignissimos, beatae dolorem quos repellat accusamus sequi delectus consequatur, quo iusto.</p>
      </article>
    </section>
    <footer>
      <div class="redesSociales"><i class="fa fa-exchange" aria-hidden="true"></i></div>
      <div class="preguntasFrecuentes"></div>
      <div class="miembrosFrecuentes"></div>
    </footer>
    <script src="js/main.js"></script>
  </body>
</html>
